<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1>
  <%= @user.email%>
  <br>
</h1>
<% comment do%>
  <div class="row">
    <div class=" mx-auto">
      <div class="col-m6 mb-2"> <%= image_tag @user.image.url if @user.image? %> </div>
      <% if current_user.id == @user.id %>
        <div class="col-m6">
          <button class= "btn btn-info text-white font-weight-bold" data-toggle="modal" data-target="#imageUploadModal">
            Upload Profile Picture
          </button>
          <%= render 'shared/imageUploadModal', object: @user%>
        </div>
      <%end%>
    </div>
  </div>
  <% comment end%>
  <h2 class="center mt-5 font-weight-bold border-top pt-5 ">Posts</h2>
  <% @user.posts.each do |post|%>
    <%= render 'posts/post', post: post %>
  <% end %>
