<div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="decisionModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="decisionModalLabel">Friend Request from <%= "#{object.email}" %></h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Accept request", accept_friend_user_friendships_path(object)%>
        <%= link_to "Decline request", decline_friend_user_friendships_path(object) %>
      </div>
    </div>
  </div>
</div>
